# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.exe
*.dll
*.pdb
Apps/Simulator/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
*.suo
*.cache
*.txt
*.jbf
*.txt
*.suo
Apps/Animator/obj/Debug/Animator.csproj.FileListAbsolute.txt
Apps/GlyphicsCommandLine/obj/Debug/GlyphicsCommandLine.csproj.FileListAbsolute.txt
Apps/DocumentationGenerator/obj/Debug/DocumentationGenerator.csproj.FileListAbsolute.txt
RasterLib/obj/Debug/RasterLib.csproj.FileListAbsolute.txt
*.cache
*.cache
*.cache
TestResults
